/*----------------------------------------
//////////////////////////////////////////	
DEBUG.CABIN.CSS
//////////////////////////////////////////
Author:		Adam Whitcroft
URL:		http://www.cabincss.com
Twitter:	@adamwhitcroft
License:	MIT
//////////////////////////////////////////
How to use:

<HTML class="debug">
	<head>
		[head content]
	</head>
	<body>
		[body content]
	</body>
</HTML>
----------------------------------------*/
/*----------------------------------------
	LINK DEBUG
	These will check your links for:
	Title property - Do you have, if so is it empty or full
	External link - Does your link point externally
----------------------------------------*/
.debug a {
	border:2px solid yellow;
	/* this link may be missing the title property - titles are important for usability so make sure you include them */
}
.debug a[title] {
	border:2px solid green;
	/* your link has a title attribute */	
}
.debug a[title=""] {
	border:2px solid #FF9900;
	/* your link has a blank title attribute - you must decide if this is what you want */
}
.debug a[href="#"] {
	border:2px solid red;
	/* you have left href="#" in your link - if you used # as a placeholder URL, make sure you have replaced it with the correct URL */
}
.debug a[href^="http"] {
	border:#FF00CC;
	/* this will show all external links - ie links going elsewhere */
}
/*----------------------------------------
	IMAGE DEBUG
	These will check your images for:
	alt properties and if they are complete.
----------------------------------------*/
.debug img {
	border:2px solid red;
	/* your image may be missing its alt property - alt is important for usability */
}
.debug img[alt] {
	border:2px solid green;
	/* your image has a blank alt - you must decide if this is what you want */
}
.debug img[alt=""] {
	border:2px solid yellow;
	/* your image has an alt attribute */
}