/*----------------------------------------
//////////////////////////////////////////	
GRID16.CABIN.CSS
//////////////////////////////////////////
Author:		Adam Whitcroft
URL:		http://www.cabincss.com
Twitter:	@adamwhitcroft
License:	MIT
//////////////////////////////////////////
----------------------------------------*/
/* 
I have included the .wrapper styles here
so that the grid demonstration will work. You
should remove the .wrapper styles from this
file when you use it
*/
.wrapper {
	width:960px;
	margin:0 auto;
}
/*----------------------------------------
Setup grid
Grid sizes based on 960gs
Margin-left method by Harry Roberts
----------------------------------------*/
.grids {
	margin-left:-20px;
	width:960px;
}
.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7,
.grid8,
.grid9,
.grid10,
.grid11,
.grid12,
.grid13,
.grid14,
.grid15,
.grid16 {
	float:left;
	margin:0 0 0 20px;
}
.grid1 		{width:40px;}
.grid2 		{width:100px;}
.grid3 		{width:160px;}
.grid4 		{width:220px;}
.grid5 		{width:280px;}
.grid6 		{width:340px;}
.grid7 		{width:400px;}
.grid8 		{width:460px;}
.grid9 		{width:520px;}
.grid10 	{width:580px;}
.grid11 	{width:640px;}
.grid12 	{width:700px;}
.grid13 	{width:760px;}
.grid14 	{width:820px;}
.grid15 	{width:880px;}
.grid16 	{width:940px;}
/*----------------------------------------
Clears
Apply class="clear-left" to force grid to
drop to next line
----------------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;	
}
.clear-left {
	clear:left;
}
/*----------------------------------------
Push your grids to the right
----------------------------------------*/
.left1 		{padding-left:60px;}
.left2		{padding-left:120px;}
.left3 		{padding-left:180px;}
.left4		{padding-left:240px;}
.left5 		{padding-left:300px;}
.left6		{padding-left:360px;}
.left7		{padding-left:420px;}
.left8 		{padding-left:480px;}
.left9 		{padding-left:540px;}
.left10		{padding-left:600px;}
.left11		{padding-left:660px;}
.left12		{padding-left:720px;}
.left13 	{padding-left:780px;}
.left14 	{padding-left:840px;}
.left15 	{padding-left:900px;}
/*----------------------------------------
Resize grids according to screen width
721px-960px wide
----------------------------------------*/
@media (min-width:721px) and (max-width:960px) {
.wrapper {
	width:720px;
}
.grids {
	width:720px;
}
.grid1 		{width:25px;}
.grid2 		{width:70px;}
.grid3 		{width:115px;}
.grid4 		{width:160px;}
.grid5 		{width:205px;}
.grid6 		{width:250px;}
.grid7 		{width:295px;}
.grid8 		{width:340px;}
.grid9 		{width:385px;}
.grid10 	{width:430px;}
.grid11 	{width:475px;}
.grid12 	{width:520px;}
.grid13 	{width:565px;}
.grid14 	{width:610px;}
.grid15 	{width:655px;}
.grid16 	{width:700px;}

.left1 		{padding-left:45px;}
.left2 		{padding-left:90px;}
.left3		{padding-left:135px;}
.left4 		{padding-left:180px;}
.left5 		{padding-left:225px;}
.left6 		{padding-left:270px;}
.left7 		{padding-left:315px;}
.left8 		{padding-left:360px;}
.left9 		{padding-left:405px;}
.left10		{padding-left:450px;}
.left11 	{padding-left:495px;}
.left12		{padding-left:540px;}
.left13		{padding-left:585px;}
.left14		{padding-left:630px;}
.left15		{padding-left:675px;}
}/* Do not delete this brace */
/*----------------------------------------
Resize grids according to screen width
720px and below - Grids will become linearised
----------------------------------------*/
@media (max-width: 720px){
.wrapper {
	width:auto;
	padding:10px;
}
.grids {
	width:auto;
	margin:0;
}
.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,
.grid9,.grid10,.grid11,.grid12,.grid13,.grid14,.grid15,.grid16 {
	float:none;
	width:auto;
	margin:0;
}
.left1,.left2,.left3,.left4,.left5,.left6,.left7,.left8,
.left9,.left10,.left11,.left12,.left13,.left14,.left15 {
	padding:0;
}
}/* Do not delete this brace */