/*----------------------------------------
//////////////////////////////////////////	
FORMS.CABIN.CSS
//////////////////////////////////////////
Author:		Adam Whitcroft
URL:		http://www.cabincss.com
Twitter:	@adamwhitcroft
License:	MIT
//////////////////////////////////////////
----------------------------------------*/
fieldset {
	padding:10px;
	border:1px solid #BBBBBB;
	margin-bottom:1.5em;
}
label {
	display:block;
}
input,textarea {
	padding:10px;
	font-family:inherit;
	font-size:100%; /* 16px */
	line-height:1.5em;
	border:1px solid #BBBBBB;
}
input:hover,
textarea:hover {
	/*
	If you want to add some custom hover states for the
	input and textarea, do so here.
	*/
}
.button {
	cursor:pointer;
	/*
	This is the most basic button appearance. It's recommended
	you add some background colour and border styles to make
	the button stand out a little more.
	*/
}
.button:hover {
	/* 
	If you are using custom button styles, remember to add
	in some hover stlyes!
	*/
}
/*----------------------------------------
	SUCCESS, ERROR & ALERT MESSAGES
	Apply the following classes to your success, 
	error & alert messages.
----------------------------------------*/
.success,
.error,
.alert {
	padding:10px;
}
.success {
	border:1px solid #CBF231;
	background:#EAFFCB;
	color:green;
}
.success a {
	color:green;
	text-decoration:underline;
}
.error {
	border:1px solid #F23131;
	background:#FFCBCB;
	color:red;
}
.error a {
	color:#red;
	text-decoration:underline;
}
.alert {
	border:1px solid #F2DF30;
	background:#fffce7;
	color:#c2af00;
}
.alert a {
	color:#c2af00;
	text-decoration:underline;
}